/* muda tods os elementos */
*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}



/* corpo da tela */
bodys{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #667eea;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: #667eea;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



/* cabeçalho */
.headerz{
    display: flex;
    align-items: center;
    background: linear-gradient(135deg,#667eea 0%, #764ba2 100%);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(135deg,#667eea 0%, #49048d 100%);
}


.wraper{
    display: flex;
    align-items: center;
    margin-left: 50px;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;   
}

.logo h2{
    color: #000;
}

.title{
    margin-left: 40px;
}
.title h2 {
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    color: #fff;
}

.navigation{
    display: flex;
}
.navigation li{
    margin: 40px;
    justify-content: flex-end;
    list-style: none;
}
.navigation li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lato',sans-serif;
    color: #fff;
}





nav{
    /*max-width: 500px;*/
    margin: 0 auto;
    display: flex;justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
/*1rem = 16 pixel*/
nav ul{
    display: flex; /*celular*/
    list-style: nome;
    gap: 2rem;
    justify-content: center; /* Alinha os itens ao centro */
}
nav ul a{
    color: white;
    text-decoration: nome;
    transition: opacity 0.3s;
    font-weight: 500;
    opacity: 0.8s;
}
nav a:hover,
nav a.active{
    opacity: 1;
    font-weight: bold;
}

.hero{
    background: linear-gradient(), url();
    background-size: cover;
    background-position: center;
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.hero h1,
.hero-page h1{
    font-size: 2.5rem;
    margin-bottom: 1rem; /* 16px = 1 rem */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.hero-content, :signup-section{
    width: 800px;
    margin:  0 auto;
    padding: 1rem;
    animation: fadeInup 1s ease-out;
}

/* botão */
.cta-buttons{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    flex-direction: row;
}

form fieldset{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
form lenged{
    font-weight: bold;
    padding: 0 0.5rem;
    
}
form-group{
    margin-bottom: 1rem;
}
.form-label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 250;
}
.form-group input,
.form-grojp select,
.form-group textarea{
    width: 100%;
    padding: 0.75rem 0.50rem;
    border-radius: 6px;
    border:  1px solid #ccc;
    font-size: 0.75rem;
}


.btn-primary, .btn-secondary{

    flex: 1 1 200px;
    max-width: 250px;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,01.2);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.btn-primary{
    background: #667eea;
}
.btn-secondary{

    background: #764ba2;
    color: white;
}
.btn-primary:hover, .btn-primary:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.btn-primary::after, .btn-primary::after{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.15);
    transform: rotate(45deg);
    transition: all 0.5 ease;
}
.btn-primary:hover::after, .btn-primary:hover::after{
    top: -20px;
    left: -20px;
}
.sucess-message{
    display: none;
    margin-top: 1rem;
    color: green;
    font-weight: bold;
    text-align: center;
}
footer{
    text-align: center;
    padding: 1rem;
    background: white;
    margin-top: -3px;
}

/*tabela*/

#tabelaVoluntarios table{
    width: 100px;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: 'Segoi UI', 'Segoi UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tabelaVoluntarios th,
#tabelaVoluntarios td{
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    text-align: center;
}
#tabelaVoluntarios th{
    background-color: #667eea;
    color: white;
    font-family: 600;
}
#tabelaVoluntarios tr:nth-child(even){
    background-color: #f9f9f9;

}
#tabelaVoluntariostr:hover{
    background-color: #e0e0e0;
}
#tabelaVoluntarios table{
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,1);
}
#tabelaVoluntarios p{
    text-align: center;
    font-weight: 500;
    color: #333;
    padding: 1rem;
}


.rodape {
    display: flex;
    flex-shrink: 0;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    color:  #ccc;
}
#alura {
    text-decoration: none;
}
#alura:hover {
    text-decoration: none;
    color: #2087ED;  
}